<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<!-- Enter the Xmetal innstalation path on Key XmetalDirPath  VALUE
Example:
<add key="XmetalDirPath" value="C:\Program Files\CorelXP\XMetaL 4\Author\Rules\GPO"/>			
-->
		<add key="Locator" value="YES"/>
		<add key="XmetalDirPath" value="C:\Users\sjohnson\Documents\GitHub\HouseSenateBillsToPress"/>		
	</appSettings>
</configuration>
